<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block page_title %}{% endblock page_title %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block page_styles %}
            <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
        {% endblock page_styles %}
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 text-center">
                    <img src="/static/img/banner.png" alt="flask boilerplate banner" />
                </div>
            </div>
        </div>
        <br />

        <div class="container-fluid">
            {% block content %}{% endblock content %}
        </div>

        {% block page_scripts %}
            <script src="https://code.jquery.com/jquery-{{JQUERY_VERSION}}.min.js"></script>
            <script>window.jQuery || document.write('<script src="js/vendor/jquery-{{JQUERY_VERSION}}.min.js"><\/script>')</script>
            <script src="/static/script/bootstrap.min.js"></script>
            <script src="/static/script/main.js"></script>
        {% endblock page_scripts %}

    {% include 'partials/google_analytics.html' %}
    </body>
</html>