{% extends "layouts/base.html" %}
{% block page_title %}Page Could Not Be Found{% endblock page_title %}
{% block content %}
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="jumbotron">
                <h1><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 404 Page Not Found</h1>
                <hr />
                <p>
                    The page your seek could not be found!
                </p>
            </div>
        </div>
    </div>
{% endblock content %}